body {
    background-image: url("img/980708.png");
    background-color: rgb(126, 0, 0);
    background-repeat: no-repeat;
    background-position: absolute;
    background-size: cover;
}

@font-face {
    font-family: baseFont;
    src: url("font/BebasNeue-Regular.ttf")
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.75);
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    height: fit-content;
    font-family: baseFont;
    color: ivory;
}

.submitBtn {
    width: 85%;
    height: 60px;
    border-radius: 10px;
    border: none;
    background-color: rgb(126, 0, 0);
    color: white;
    font-size: 30px;
    margin: 2%;
    font-family: baseFont;
    padding-top: 1%;
}

.dropDowns {
    width: 40%;
    height: 50px;
    border-radius: 10px;
    border: none;
    padding: 15px;
    font-size: 15px;
    margin-bottom: 3%;

}

#inputbox {
    width: 80%;
    height: 50px;
    border-radius: 10px;
    border: none;
    padding: 15px;
    font-size: 20px;
    margin: 3%;
}

#output {
    background-color: rgba(255, 255, 255, 0.75);
    color: black;
    height: fit-content;
    border-radius: 10px;
    border: none;
    padding: 10px;
    padding-left: 20px;
    font-size: 25px;
    font-stretch: 200%;
    margin-top: 50px;
}

#breakLine {
    margin-top: 5%;
    width: 100%;
}

#raidType {
    margin-right: 5%;
}