{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="main">
    <h1 align="center" id="header">Raid Cost Calculator</h1>
    <form align="center" method="POST" action="/findID">
        <input type="text" name="id" placeholder="ID, Shortname, or item name..." id="inputbox"> 
        <!-- TODO: assign input to variable -->
        <br>
        <button type="submit" id="idSubmit" class="submitBtn">ID</button>
        <button type="submit" id="shortSubmit" class="submitBtn">SHORT</button>
        <button type="submit" id="itemSubmit" class="submitBtn">ITEM</button>
    </form>
    <div id="breakLine">
        <hr>
    </div>
    <div id="output">
        <p id="outputText" align="center">Output</p>
    </div>
</div>
{% endblock %}