:root {
    --cBlue: #5386E4;
    --cBlack: #32292F;
    --cGreen: #517664;
    --cAqua: #0FF4C6;
    --cWhite: #F7EBE8;
}

@font-face {
    font-family: DMsans;
    src: url('font/DMSANS/static/DMSans-Regular.ttf')
}

@font-face {
    font-family: DMsans-italic;
    src: url('font/DMSANS/static/DMSans-SemiBoldItalic.ttf')

}

html {
    background-image: linear-gradient(to top, #0ff4c6, #FFFFFF); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 100%;
}

.homePage {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: DMsans-italic, sans-serif;
    color: var(--cBlack);
}

.sidepanel {
    height: 40%; 
    width: 0; 
    position: fixed; 
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #5386e4; 
    overflow-x: hidden; 
    padding-top: 60px;
    padding-left: 0px; 
    transition: 0.5s; 
    color: black;
  }
  
  /* The sidepanel links */
  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-family: DMsans, sans-serif;
    font-size: 25px;
    color: #f7ebe8;
    display: block;
    transition: 0.3s;
    padding-bottom: 25px;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidepanel a:hover {
    color: #32292f;
  }
  
  /* Position and style the close button (top right corner) */
  .sidepanel .closebtn {
    position: absolute;
    top: 5px;
    font-size: 36px;
    margin-left: -10px;
  }
  
  /* Style the button that is used to open the sidepanel */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #5386E4;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }