<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style_homePage.css">
    <title>rustTools</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <a href="home" id="headerImg">
                <img src="/static/img/rustToolsLogo-removebg.png" id="headerImg">
            </a>
            <a href="home" class="headerBtn">home</a>
            <a href="raidTool" class="headerBtn">raidTool</a>
            <a href="recycleTool" class="headerBtn">recycleTool</a>
            <a href="aboutPage" class="headerBtn">about</a>
            <a href="donate" class="headerBtn">donate</a>
        </div>
        <div class="main-body">
            <div class="panels">
                <div id="raidToolPanel" class="toolPanel">
                    <h1 align="center" id="header">&lt;raidTool></h1>
                    <p align="center" id="subHeader">Want to know what it</p>
                    <p align="center" id="subHeader">costs to raid something?</p>
                    <div id="btnContainer">
                        <a class="toolBtn" href="raidTool">USE</a>
                    </div>
                </div>
                <div id="recycleToolPanel" class="toolPanel">
                    <h1 align="center" id="header">&lt;recycleTool></h1>
                    <p align="center" id="subHeader">Want to know what you</p>
                    <p align="center" id="subHeader">get when you recycle something?</p>
                    <div id="btnContainer">
                        <a class="toolBtn" href="recycleTool">USE</a>
                    </div>
                </div>
                <div>
                    <div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<!-- TODO: FIX HREF CSS & IMG FOR FLASK (ONLY AFTER FINISHING) -->
<!-- TODO: FIX SCALING ISSUE -->