<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
        <script>
            // These variables are used in the index.js file, and are used to get the JSON files that contain the item names.
            var deployableSuggestsUrl = "{{ url_for('static', filename='deployableSuggests.json') }}";
            var vehicleSuggestsUrl = "{{ url_for('static', filename='vehicleSuggests.json') }}";
            var buildingSuggestsUrl = "{{ url_for('static', filename='buildingSuggests.json') }}";
        </script>
        <script src="{{ url_for('static', filename='index.js') }}" defer></script> <!-- Main script for the page -->
        <title>RRCC</title>
    </head>
<body>
    <div id="mySidepanel" class="sidepanel">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&timesbar;</a>
        <a href="#">Home</a>
        <a href="#">Raidtool</a>
        <a href="#">Login</a>
        <a href="#">Help</a>
    </div>
      
    <button class="openbtn" onclick="openNav()">&#9776;</button>
    <div class="wrapper">
        <div class="homePage">
            <h1 align="center" id="header">&lt;rustTools></h1>
        </div>
    </div>

</body>
</html>