<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="rust, rust tools, rusttools, rust raid tool, rust raidtool, rust recycle tool, rust recyclertool, 
                                        rust raid calculator, rust raidcalculator, rust recycle calculator, rust recyclecalculator, 
                                        rust raid, rust recycle, rust raiding, rust recycling, rust raiding tool, rust raidingtool, 
                                        rust raiding calculator, rust raidingcalculator, rust recycling tool, rust recyclingtool, 
                                        rust recycling calculator, rust recyclingcalculator, game tools, rust game, rust raid, raid,
                                        raid rust, tools for rust, raid tool rust, raid rust tool, rust tool recycle, recycle tool rust,
                                        raid calculator rust, rust raid cost calcualtor, rust recycler output calculator">
    <link rel="stylesheet" href="index.css">
    <title>rustTools</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <a href="home" id="headerImg">
                <img src="/static/img/rustToolsLogo-removebg.png" id="headerImg">
            </a>
            <!-- TODO: DO WE WANT THE ICON TO ALWAYS BE VISIBLE REGARDLESS OF SCROLL? -->
            <a href="homePage" class="headerBtn">home</a>
            <a href="raidTool" class="headerBtn">raidTool</a>
            <a href="recycleTool" class="headerBtn">recycleTool</a>
            <a href="aboutPage" class="headerBtn">about</a>
            <a href="donate" class="headerBtn">donate</a>
        </div>
        <div class="main-body">
            <h1 align="center" id="header">&lt;rustTools></h1>
            <p align="center" id="subHeader">Rust, simplified.</p>
            <div id="btnContainer">
                <a id="mainBtn" href="home">TRY IT</a>
            </div>
        </div>
    </div>
</body>
</html>

<!-- TODO: FIX HREF IMG & CSS FOR FLASK (ONLY AFTER FINISHING) -->