<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
        <script>
            // These variables are used in the index.js file, and are used to get the JSON files that contain the item names.
            var deployableSuggestsUrl = "{{ url_for('static', filename='deployableSuggests.json') }}";
            var vehicleSuggestsUrl = "{{ url_for('static', filename='vehicleSuggests.json') }}";
            var buildingSuggestsUrl = "{{ url_for('static', filename='buildingSuggests.json') }}";
        </script>
        <script src="{{ url_for('static', filename='index.js') }}" defer></script> <!-- Main script for the page -->
        <title>Rust Tools Page Not Found</title>
    </head>
<body>
    <div id="sidePanel" class="clsSidePanel">
        <a href="javascript:void(0)" class="closeBtn" onclick="closeNav()">&timesbar;</a>
        <div class="sidePanelTop">
            <a href="home">home</a>
            <a href="raidtool">raidTool</a>
            <a href="recycletool">recycleTool</a>
            <a href="404">login</a>
            <a href="404">about</a>
            <a href="https://www.paypal.com/donate/?hosted_button_id=98H3AK3BD3D9L" target="_blank">donate</a>
        </div>
        <div class="sidePanelBottom">
            <a href="https://github.com/OlivierBroekman/rust-raid-cost-calculator" target="_blank">sourceCode</a>
        </div>
    </div>
      
    <button class="openBtn" onclick="openNav()">&#9776;</button>
    <div class="wrapper">
        <div class="main">
            <h1 align="center" id="header">&lt;404: Page Not Found></h1>
            <p align="center" id="subHeader">It seems this page is either offline, or doesn't exist :/</p>
            <button align="center" class="mainBtn" onclick="location.href='home'">BACK HOME</button>
        </div>
    </div>

</body>
</html>