<!DOCTYPE html>
<!-- Commenting an HTML file feels weird, is it conventionally done? -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
    <link href="{{ url_for('static', filename='style_raidtool.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <script>
        // These variables are used in the index.js file, and are used to get the JSON files that contain the item names.
        var deployableSuggestsUrl = "{{ url_for('static', filename='deployableSuggests.json') }}";
        var vehicleSuggestsUrl = "{{ url_for('static', filename='vehicleSuggests.json') }}";
        var buildingSuggestsUrl = "{{ url_for('static', filename='buildingSuggests.json') }}";
    </script>
    <script src="{{ url_for('static', filename='index.js') }}" defer></script> <!-- Main script for the page -->
    <title>rustTools</title>
</head>

<body>
    <div id="sidePanel" class="clsSidePanel">
        <a href="javascript:void(0)" class="closeBtn" onclick="closeNav()">&timesbar;</a>
        <div class="sidePanelTop">
            <a href="home">home</a>
            <a href="raidtool">raidTool</a>
            <a href="recycletool">recycleTool</a>
            <a href="in-development">login</a>
            <a href="in-development">help</a>
            <a href="in-development">about</a>
            <a href="https://www.paypal.com/donate/?hosted_button_id=98H3AK3BD3D9L" target="_blank">donate</a>
        </div>
        <div class="sidePanelBottom">
            
        </div>
    </div>
      
    <button class="openBtn" onclick="openNav()">&#9776;</button>
    <div class="wrapper">
        <div class="main">
            <h1 align="center" id="header">Raid Tool</h1>
            <form align="center" method="POST">
                <!-- Input elements: dropdown menus, input box, and submit button. -->

                <select name="raidType" id="raidType" class="dropDowns">
                    <!-- Raidtype dropdown menu -->
                    <option value="explo">Explosive Raid</option>
                    <option value="eco">Eco Raid</option>
                </select>

                <select name="itemType" id="itemType" class="dropDowns">
                    <!-- Itemtype dropdown menu -->
                    <option value="deployable">Deployable</option>
                    <option value="vehicle">Vehicle</option>
                    <option value="building">Building</option>
                </select>

                <!-- The big input box, contains the item that gets sent to the calculator -->
                <input 
                    type="text" 
                    name="getId" 
                    placeholder="Enter item..." 
                    id="inputbox" 
                    list="autoSuggest"
                    required>

                <datalist id="autoSuggest" maxlength="3">
                    {% for item in items %}
                    <option value="{{ item }}">
                    {% endfor %}
                </datalist>

                <!-- Button that submits the input to the pythonFunctions.py file -->
                <button type="submit" id="idSubmit" class="submitBtn" value="Submit">BOOM!</button>


            </form>

            <div id="output">
                <!-- I'm not even going to lie, Flask looks weird in HTML. This 'prints' the result into the output box when it is available, and 'prints' error message when nothing is there. -->
                {% autoescape false %} <!-- The autoescape element prevents the page from displaying the <br> tags, and instead interprets them as line breaks. -->
                {% if result %}
                <p>{{ result }}</p>
                {% else %}
                <p>Please input a valid item...</p>
                {% endif %}
                {% endautoescape %}
            </div>
        </div>
    </div>
</body>
</html>