{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="wrapper">
    <div class="main">
        <h1 align="center" id="header">Raid Cost Calculator</h1>
        <form align="center" method="POST" action="/findID">
            <input type="text" name="id" placeholder="ID, Shortname, or item name..." id="inputbox"> 
            <!-- TODO: assign input to variable -->
            <br>
            <button type="submit" id="idSubmit" class="submitBtn">ID</button>
            <button type="submit" id="shortSubmit" class="submitBtn">SHORT</button>
            <button type="submit" id="itemSubmit" class="submitBtn">ITEM</button>
        </form>
        <div id="breakLine">
            <hr>
        </div>
        <div id="output">
            <p id="outputText" align="center">Output</p>
        </div>
        <script>
            function sendData() {
                var inputData = document.getElementById("inputbox").value;

                var xhr = new XMLHttpRequest();
                xhr.open("POST", "/findID", true);
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.onreadystatechange = function() {
                    if (xhr.readyState === 4 && xhr.status === 200) {
                        var json = JSON.parse(xhr.responseText);
                        document.getElementById("outputText").innerHTML = xhr.responseText;
                    }
                };
                xhr.send(JSON.stringify({inputData: inputData}));
            }
        </script>
    </div>
</div>
{% endblock %}